<h1>Are you sure you want to delete {{song.name}}?</h1>

<form method="post">
  <a href="/song/get/{{song.id}}" class="btn btn-default">Cancel</a>
  <button type="submit" class="btn btn-danger">Delete</button>
</form>