<a href="/song/edit/{{song.id}}" class="btn btn-primary">Edit</a>
<a href="/song/delete/{{song.id}}" class="btn btn-danger">Delete</a>

<table class="table">
  <tr>
    <td>Name</td>
    <td>{{song.name}}</td>
  </tr>
</table>