<h1>Are you sure you want to delete {{user.email}}?</h1>

<form method="post">
  <a href="/user/get/{{user.id}}" class="btn btn-default">Cancel</a>
  <button type="submit" class="btn btn-danger">Delete</button>
</form>