<table class="table">
  <tr>
    <th>#</th>
    <th>Email</th>
  </tr>
  {{#each users}}
  <tr>
    <td><a href="/user/get/{{this.id}}">{{this.id}}</a></td>
    <td>{{this.email}}</td>
  </tr>
  {{/each}}
</table>