<h1>Are you sure you want to delete {{track.name}}?</h1>

<form method="post">
  <a href="/track/get/{{track.id}}" class="btn btn-default">Cancel</a>
  <button type="submit" class="btn btn-danger">Delete</button>
</form>