<a href="/track/edit/{{track.id}}" class="btn btn-primary">Edit</a>
<a href="/track/delete/{{track.id}}" class="btn btn-danger">Delete</a>

<table class="table">
  <tr>
    <td>Name</td>
    <td>{{track.name}}</td>
  </tr>
</table>